@media (max-width: 767px) {
  .menu {
    float: none;
    text-align: center;
    display: none;
    position: fixed;
    width: 100%;
    margin: 0 -15px;
    background-color: #fcdb00;
    top: 48px;
    box-shadow: 6px 7px 15px 0 rgba(88, 121, 131, 0.29);
    &__item {
      display: block;
    }
    &__link {
      margin: 0;
      padding: 15px 0;
    }
  }

  .menu-btn {
    display: block;
  }

  .slider {
    text-align: center;
    & .subtitle {
      text-align: center;
      padding-right: 0;
    }
    &__txt {
      padding-right: 0;
    }
    &__description {
      padding-top: 0;
    }
    &__item {
      padding-top: 20px;
      padding-bottom: 70px;
    }
  }

  .features {
    padding-top: 50px;
    padding-bottom: 0;
    text-align: center;
    & .subtitle {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .list {
    margin-bottom: 0;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    & .subtitle {
      padding-left: 0;
      padding-right: 0;
    }
    &__list {
      margin-top: 40px;
    }
    &__items {
      margin-bottom: 15px;
    }
  }

  .form {
    margin-bottom: 40px;
  }

  .input-email {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

